<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yukisoft.hlcmt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mt_accent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_mt_accent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Admin.AdminActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.HelpActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.ProfileActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.SettingsActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.PrayerReqActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.AudioMSGActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.Items.MeditationTimesActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.AppSpecific.TermsActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.AppSpecific.PrivacyActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Admin.UpdateUserActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Admin.UserManagementActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.AppSpecific.InformationActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.UserManagement.DeleteAccountActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.MeditationTimes.ViewMeditationTimes" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.MeditationTimes.WriteMeditationTimes" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.UserManagement.EmailVerifyActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.Dashboard.HomeActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.UserManagement.LoginActivity" />
        <activity android:name="com.yukisoft.hlcmt.JavaActivities.UserManagement.RegisterActivity" />

        <activity android:name="com.yukisoft.hlcmt.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>